In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [6]:
df = yf.download('TATAMOTORS', '2000-01-01')
df.to_csv('Tata.csv')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TATAMOTORS: No data found, symbol may be delisted

In [5]:
df.tail()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [17]:
df.shape

(5432, 6)