In [13]:
import yfinance as yf
import pandas as pd
import numpy as np

In [16]:
df = yf.download('MSFT', '2000-01-01')
df.to_csv('Microsoft.csv')

[*********************100%***********************]  1 of 1 completed

In [9]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-28,2771.239990,2793.520020,2727.000000,2727.629883,2727.629883,2734400
2021-07-29,2727.612061,2743.030029,2722.760010,2730.810059,2730.810059,964200
2021-07-30,2710.219971,2715.427002,2696.283936,2704.419922,2704.419922,1196600
2021-08-02,2709.689941,2720.409912,2693.389893,2719.790039,2719.790039,1007000
2021-08-03,2720.000000,2726.709961,2683.669922,2725.600098,2725.600098,952600

In [17]:
df.shape

(5432, 6)